.hotel-card {
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> abf06872 (管理员评论审核)
    width: 94%;
    display: flex;
    height: 400rpx;
    margin: 20rpx;
    border-radius: 10rpx;
    overflow: hidden;
    background-color: white;
    box-shadow: 12rpx 8rpx 12rpx 5rpx #716c673f;
<<<<<<< HEAD
=======
=======
    width: 98%;
    display: flex;
    height: 400rpx;
    margin: 8rpx;
    border-radius: 10rpx;
    overflow: hidden;
    background-color: white;
>>>>>>> d26c1933 (管理员审核评论)
>>>>>>> abf06872 (管理员评论审核)

    .card-left {
        width: 33%;
        border-radius: 10rpx;
        overflow: hidden;

        .hotel-image {
            height: 100%;
            width: 100%;
        }
    }

    .card-right {
        width: 66%;
        padding: 20rpx;
        padding-top: 12rpx;
        display: block;
        position: relative;

        .hotel-name {
            max-height: 120rpx;
            justify-content: center;
            align-content: center;
            font-size: 44rpx;
            overflow: hidden;
            text-overflow: ellipsis;
            font-weight: bolder;
        }

        .comment {
            margin: 10rpx;
            display: flex;
            align-items: center;

            .comment-score {
                height: 100%;
                font-size: 40rpx;
                color: red;
            }

            .comment-num {
                height: 100%;
                margin-left: 20rpx;
                font-size: 30rpx;
                color: #666;
            }
        }

        .location {
            font-size: 30rpx;
            color: gray;
            max-width: 400rpx;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .comment-content {
            font-size: 30rpx;
            color: blueviolet;
            margin: 10rpx 0;
            max-width: 400rpx;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .hotel-price {
            font-size: 30rpx;
            width: 100%;
            color: violet;
            text-align: right;
            position: absolute;
            bottom: 10rpx;
            right: 20rpx;

            .cost {
                font-size: 60rpx;
            }
        }
    }
}