.comment-submit-page {
    margin: 20rpx 60rpx;
    color: #666;

    .hotel-name {
        width: 100%;
        font-size: 48rpx;
        color: rgb(47, 45, 90);
        margin-bottom: 30rpx;
        font-weight: bolder;
    }

    .comment-text {
        position: relative;
        margin-bottom: 30rpx;
        padding: 10rpx 20rpx;
        height: 300rpx;
        border: 1rpx solid #ccc;
        border-radius: 30rpx;

        .text-content {
            color: #333;
            width: auto;
            max-height: 260rpx;
            overflow: scroll;
        }

        .text-tips1 {
            position: absolute;
            left: 20rpx;
            top: 10rpx;
        }

        .text-tips2 {
            position: absolute;
            bottom: 10rpx;
            right: 20rpx;
            font-size: smaller;
        }
    }

    .anonymous-check {
        width: 100%;
        text-align: right;
        margin: 30rpx;
    }

    .submit-btn {
        margin-bottom: 30rpx;
    }
}