.stars-score-container {
    display: flex;
    position: relative;
    width: 40%;
    align-items: center;

    .back {
        display: flex;
        position: absolute;
    }

    .front {
        display: flex;
        position: absolute;
    }
}