<<<<<<< HEAD
.stars-score-container {
=======
<<<<<<< HEAD
.stars-score-container {
=======
.container {
>>>>>>> d26c1933 (管理员审核评论)
>>>>>>> abf06872 (管理员评论审核)
    display: flex;
    position: relative;
    width: 40%;
    align-items: center;

    .back {
        display: flex;
        position: absolute;
    }

    .front {
        display: flex;
        position: absolute;
    }
}