.score-checker-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 48rpx;
    text-align: center;
    margin-bottom: 30rpx;

    .stars {
        display: flex;
    }
}