.todo-page {
    height: 100%;
    width: 100%;
    padding: 20rpx;
    box-sizing: border-box;

    .todo-input {
        height: 90rpx;
        border: 1px solid #0086f6;
        border-radius: 15rpx;
        padding: 0 20rpx;
        width: 100%;
        box-sizing: border-box;

        .weui-input {
            height: 100%;
        }
    }

    .todo-add {
        background: #0086f6;
        color: #fff;
        margin-top: 30rpx;
    }

    .todo-title {
        margin-top: 20rpx;
        display: block;
        width: 100%;
        font-size: 40rpx;
        color: #99f;
        font-weight: 1000;
        line-height: 80rpx;
    }

    .todo-box {
        padding: 0 30rpx;

        .todo-item {
            padding: 20rpx 0;
            border-bottom: 1rpx solid #ccc;
            display: flex;
            flex-direction: row;
            align-items: center;

            .item-isdo {
                height: 50rpx;
                width: 50rpx;
                border: #333 solid 3rpx;
                border-radius: 25rpx;
            }

            .done {
                background-color: yellow;
            }

            .item-text {
                flex: 1;
                margin-right: 20rpx;
                margin-left: 10rpx;
            }

            .item-del {
                width: 100rpx;
                font-size: 24rpx;
                height: 50rpx;
                line-height: 50rpx;
                padding: 0;
                background: rgba(255, 0, 0, 0.1);
                color: #ff0000;
                border: 0.5rpx solid #ff0000;
            }

            .item-icon {
                margin-right: 10rpx;
                position: relative;
            }
        }
    }
}

.icon-flag:before {
    font-family: 'iconfont';
    content: '\ec3f';
    font-size: 24rpx;
    line-height: 50rpx;
}