.commit-review-page {
  .login-box {
    height: 400rpx;
    background-color: #0387f2;
    overflow: hidden;

    button {
      width: 350rpx;
      line-height: 100rpx;
      font-size: 40rpx;
      background-color: #1aac1a;
      color: #fff;
      margin-top: 150rpx;
    }

    .headerorname {
      text-align: center;
      margin-top: 100rpx;
      position: relative;

      image {
        border-radius: 50%;
        width: 150rpx;
        height: 150rpx;
        display: inline-block;
      }

      view {
        color: #fff;
        margin-bottom: 20rpx;
      }

      .login_out {
        color: white;
        font-size: 38rpx;
        margin-top: 20rpx;
      }
    }
  }

  .list {
    line-height: 90rpx;

    .list-item {
      border-bottom: 1px solid #eee;
      padding: 0 30rpx;
      display: flex;
      justify-content: space-between;
      align-items: center;

      image {
        width: 40rpx;
        height: 40rpx;
      }

      .button {
        width: 100%;
        background: white;
        text-align: left;
        font-size: 38rpx;
        padding-left: 0;
      }
    }
  }
}

.button::after {
  border: none;
}